In [7]:
_3rd_place=input("value given to the given 3rd number")

value given to the given 3rd number broze

In [6]:
value=input("value1:")
value=input("value2:")
print(value)

value1: 100
value2: one hudred

one hudred

In [5]:
x=input("place the value of x:")
y=input("place the value of y:")
x,y=y,x
print(x,y)

place the value of x: 5
place the value of y: 7

7 5

In [13]:
temperature=input("the temperature given")
is_hot=bool(input('is it'))
print(is_hot)

the temperature given 28
is it twmperature>30

True

In [14]:
weight=float(input("number:"))
weight=input('the words')
print(weight)

number: 75.5
the words seventy-five

seventy-five

In [15]:
COUNTRY=input("first country")
country=input("second country")
print(Country)

first country canada
second country mexico

NameError: name 'Country' is not defined

In [17]:
a=int(input("the value of a:"))
b=int(input("the value of b"))
a=b*a
b=a/b
a=a/b
print(a,b)

the value of a: 15
the value of b 4

4.0 15.0

In [20]:
_class=input("name of the class")
print(_class)

name of the class chemistry101

chemistry101

In [21]:
score=input("number:")
print("final scole:"+score)

number: 95

final scole:95

In [24]:
name,age,is_student=input("your name"),int(input("your age:")),bool(input("are you a student:"))

your name diane
your age: 19
are you a student: true

In [26]:
result=float(input("type the result:"))
print(type(result))

type the result: 32.5

<class 'float'>

In [27]:
price=input("the price:")
total=price3
print(total)

the price: 19

NameError: name 'price3' is not defined

In [32]:
age=int(input( "your age"))
if age>=18:
    print("you can vote")

your age 23

you can vote

In [39]:
gender=input("indicace whether male/female:")
if gender=='female':
    print("WELCOME!")
else:
    print("sorry females only")  i

indicace whether male/female: male

sorry females only

In [44]:
 print("1.programming 2.medicine 3.law")
choice=int(input("type your choice:"))
if choice==1:
    print("welcome to programming")
elif choice==2:
    print("welcome to medicine")
elif choice==3:
    print("welcome to law")
else:
    print("invalid")

1.programming 2.medicine 3.law

type your choice: 2

welcome to medicine