In [5]:
score=95
print("final scole:",score)

final scole: 95

In [8]:
print('name',15,True)

name 15 True

In [11]:
name="diane"
age=19
is_student=True
print("my name is",name,"i am ",age,"years old and it is ",is_student,"that i am a student")

my name is diane i am  19 years old and it is  True that i am a student

In [19]:
result=32.5
print(type(result))

SyntaxError: invalid syntax (960129325.py, line 1)

In [20]:
price="19"
total=price 3
print(total)

SyntaxError: invalid syntax (4101201496.py, line 2)

In [21]:
print(7<=7 and "7"!=7)

True

In [23]:
height=int(185.7)

print(height)

185

In [26]:
z=2+5j
print(z)

(2+5j)

In [32]:
print(0.1+0.1+0.1==0.3)

False

In [33]:
num_str="45.8"
num=int(num_str)
print(num)

ValueError: invalid literal for int() with base 10: '45.8'

In [34]:
print(bool("False"))

True